* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    padding: 0 10px;
    margin: 0;
    width: 100%;
    color: #423e3e;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: 400;
    min-width: 360px;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
}

.login-page {
    max-width: 500px;
}

/*login*/
.logo {
    margin-top: 40px
}

.logo img {
    content: '';
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top right;
}

.forgot {
    text-align: center;
    font-weight: bold;
    color: #2b88d9;
    text-decoration: none;
    -webkit-user-select: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.logo:before {
    content: '';
    display: block;
    margin: auto;
    width: 80px;

    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    max-width: 500px;
    height: 356px;
    margin: 20px auto 60px auto;
    position: relative;
}

.container .sign {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    padding: auto;
}

.container .sign .auth-form {
    background-color: #ffffff;
    height: 232px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
    border-radius: 4px;
    font-size: 16px;

}

.container .sign .auth-form .row {
    height: 60px;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.container .sign .auth-form .row input {
    float: right;
    border: 0 none;
    font-size: 16px;
    line-height: 15px;
    padding: 20px 8px;
    margin-right: 2px;
    color: #666;
    outline: none;
    background-color: transparent;
    width: 84%;
}

.container .sign .auth-form .row input::placeholder {
    color: rgb(121, 121, 121);
    font-family: sans-serif;
    font-size: 16px;
}

.container .sign .auth-form .row.submit {
    border-bottom: none;
    padding: 0 15px;
}

.container .sign .auth-form .row.submit .button {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 11px 10px;
    border-radius: 3px;
    margin: 18px auto;
    font-weight: bold;
    cursor: pointer;
    border: 0 none;
    background-color: #2b88d9;
    color: #fff;
}

.container .sign .auth-form .row .icon {
    display: inline-block;
    margin: 20px 11px 0 16px;
}

.container .sign .auth-form .row .icon.pass {
    margin: 17px 11px 0 16px;
}

.container .sign .group-api {
    margin-top: 20px;
    margin-bottom: 90px;
}

.container .sign .group-api .button-api {
    width: 1px;
    height: 46px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.container .sign .title-sign {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    color: #666;
    text-align: center;
}

.container .sign .title-sign.small {
    width: 280px;
    margin: 5px auto;
    color: #888;
    font-size: 12px;
    line-height: 15px;
}

.container .sign a {
    color: #2b88d9;
}

/* chat*/
.chat-page {
    display: none;
    margin-bottom: 100px;
}

.chat-container {
    margin: 0 auto;
    background: white;
    position: relative;
    top: 50px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
}

.chat-header {
    background: #35a5d6;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.messageArea {
    height: 400px;
    overflow-y: scroll;
    padding-left: 5px;
    margin: 0;
}

.message-input {
    padding-left: 5px;
    border-radius: 8px;
    width: calc(100% - 90px);
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    float: left;
    outline: none;
}

.button-send {
    width: 80px;
    height: 38px;
    margin-left: 5px;
    background: #35a5d6;
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    min-height: 38px;
}

.form-group {
    margin: 0 7px;
    padding: 6px 0;
    height: 55px;
    margin-bottom: 15px;
}

.starred {
    color: #cfcfcf;
    text-align: center;
    font-size: 12px;
}

.message {
    list-style-type: none;
    padding: 5px;
    margin: 4px 0;
    border-radius: 12px;
    width: fit-content;
    max-width: 300px;
}

/*test*/
.test-page {
    display: none;
    position: relative;
    top: 150px;
    margin-bottom: 200px;
}

.test-container {
    background: white;
}

.test-header {
    text-align: center;
    background: #34a0d0;
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    padding-bottom: 30px;
}

.col1 {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.col2 {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

.col3 {
    text-align: center;
    grid-column: 3;
    grid-row: 1;
}

.row {
    font-size: 10px;
}

.button-submit{
    width: 80px;
    height: 38px;
    background: #35a5d6;
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    border: none;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    min-height: 38px;
    margin-top: 15px;
}

.test-name{
    display: inline-block;
}

.score{
    color: #f7271b;
    float: right;
}

/*teacher-page*/
.teacher-page {
    display: none;
    margin-bottom: 60px;
}

.refresh{
    background: #33a0cf;
    border-radius: 10px;
    outline: none;
    color: white;
    padding: 15px;
    margin: 20px;
}

.table-grid {
    display: grid;
    /*background: white;*/
}

.test-list {
    border-radius: 5px;
    background: white;
    padding: 5px 0;
    margin: 5px 5px;
    text-align: center;
    -webkit-user-select: none;
    cursor: pointer;
}

th {
    padding: 10px;
    font-size: 25px;
}

td {
    border: 1px solid black;
    text-align: center;
}

.row{
    -webkit-user-select: none;
}
