* {
    box-sizing: border-box; /* box-sizing cho tất cả mọi thành phần trong một khung nhất định, tự căn chỉnh */
    -moz-box-sizing: border-box;    
    -webkit-box-sizing: border-box;
        /* -moz cho firefox  -webkit cho chrome, opera, cốc cốc, safari */
        /* không chơi với microsoft edge và ie */
}

html {
    width: 100%;    /* khai báo kích thước 100% cho width và height */
    height: 100%;
}

body {
    margin: 0;      /* margin 0 để trang web tràn viền browser, không bị khoảng border trắng */
    width: 100%;    /* khai báo kích thước 100% cho width */       
    color: #423e3e;
    background-color: #fafafa;
    font-size: 16px;
    font-weight: 400;      /* thiết đặt độ dày cho font */
    min-width: 360px;       /* chiều dài nhỏ nhất cho browser là 360px */
}

/* khai báo kích thước theo % cho width, dùng khi cần thiết */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.row::after {
    width: 100%;
    height: 100%;
    content: "";
    clear: both;
    display: table;
}

.errors {
    font-size: 14px;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto -20px auto;
    text-align: center;
    display: table;
}

.errors div.message {
    background-color: rgba(214,40,34,0.07);
    border: 1px solid rgba(214,40,34,0.36);
    color: #d62822;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 30px;
}

.fltl {
    float: left;
}

.fltr {
    float: right;
}

.logo {
     margin: 40px auto 0 auto; 

}

a {
    text-decoration: none;
}

.logo:before {
    content: '';
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top right;
}

h4.signup {
    margin: 18px auto 0 auto;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    color: #666;
}

.container {
    max-width: 840px;
    height: 450px;
    margin: 40px auto 60px auto;
    position: relative;
}

.container .sign {
    position: absolute;
    float: left;
    width: 50%;
    height: 100%;
    /*margin: 30px auto 20px auto;*/
    padding: 0 35px;
}

.container .sign .auth-form {
    background-color: #ffffff;
    height: 255px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(50,50,50,0.08);
    border-radius: 4px;
    font-size: 16px;

}

.container .sign .auth-form .row {
    height: 60px;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.container .sign .auth-form .row input {
    border: 0 none;
    font-size: 16px;
    line-height: 15px;
    padding: 20px 8px;
    margin-right: 2px;
    color: #666;
    outline: none;
    background-color: transparent;
    width: 85%;
}

.container .sign .auth-form .row input::placeholder {
    color: rgb(121, 121, 121);
    font-family: sans-serif;
    font-size: 16px;
}

.container .sign .auth-form .row.submit {
    border-bottom: none;
    padding: 0 15px;
}

.container .sign .auth-form .row.submit .button {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 11px 10px;
    border-radius: 3px;
    margin: 18px auto;
    font-weight: bold;
    cursor: pointer;
    border: 0 none;
    background-color: #2b88d9;
    color: #fff;
}

.container .sign .auth-form .row .icon {
    display: inline-block;
    margin: 20px 11px 0 16px;
}

.container .sign .auth-form .row .icon.pass {
    margin: 17px 11px 0 16px;
}

.container .sign .group-api {
    margin-top: 20px;
    margin-bottom: 90px;
}

.container .sign .group-api .button-api {
    width: 105px;
    height: 46px;
    border: 1px solid #ddd;
    border-radius: 3px;

}

.container .sign .group-api .button-api.zuckerburg {
    background-color: #3b5998;
}

.container .sign .group-api .button-api.larrypage {
    margin-left: 18px;
    background-color: #dd4b39;
}

.container .sign .group-api .button-api.billgate {
    background-color: #fff;
}

.container .sign .group-api .button-api .icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 38px;
}

.container .sign .title-sign {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    color: #666;
    text-align: center;
}

.container .sign .title-sign.small {
    width: 280px;
    margin: 5px auto;
    color: #888;
    font-size: 12px;
    line-height: 15px;
}

.container .sign a {
    color: #2b88d9;
}

.container .list {
    width: 50%;
    height: 100%;
    float: right;
    border: solid #ddd;
    border-width: 0 0 0 1px;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.container .list li {
    display: inline-block;
    margin-bottom: 30px;
}

.container .list li .icon {
    width: 38px;
    height: 34px;
    margin: 12px 27px 30px 25px;
}

.container .list li .details {
    width: 320px;
    margin-left: 10px;
    font-size: 14px;
}

.container .list li .details .hightlight {
    display: block;
    color: #2b88d9;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.stage{
    padding: 20px;
    margin-bottom: -15px;
}







